@using DNTPersianUtils.Core;
@inject Pardisan.Interfaces.INewsRepository _newsRepository;
@inject Pardisan.Interfaces.IBlogRepository _blogRepository;

@{
    var newsModel = await _newsRepository.GetAllNews();
    var newsCatModel = await _newsRepository.GetAllNewsCategory();
    var blogModel = await _blogRepository.GetAllBlog();
    var blogCatModel = await _blogRepository.GetAllBlogCategory();
}


@{
    ViewData["Title"] = "پروژه ها";
}

@{
    Layout = "_AdminLayout";
}


<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">
                    داشبورد
                </h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">
                <!--begin::Row-->
                <div class="row g-5 g-xl-8">
                    <!--begin::Col-->
                    <div class="col-xl-4">
                        <!--begin::مخلوط Widget 1-->
                        <div class="card card-xl-stretch mb-xl-8">
                            <!--begin::Body-->
                            <div class="card-body p-0">
                                <!--begin::Header-->
                                <div class="px-9 pt-7 card-rounded h-275px w-100 bg-danger">
                                    <div class="d-flex text-center flex-column text-white pt-8">
                                        <span class="fw-bolder fs-2x pt-1">
                                            گزارش اخبار
                                        </span>
                                    </div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Items-->
                                <div class="bg-body shadow-sm card-rounded mx-9 mb-9 px-6 py-9 position-relative z-index-1" style="margin-top: -100px">
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center mb-6">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-45px w-40px me-5">
                                            <span class="symbol-label bg-lighten">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor" />
                                                        <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor" />
                                                        <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor" />
                                                        <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::توضیحات-->
                                        <div class="d-flex align-items-center flex-wrap w-100">
                                            <!--begin::Title-->
                                            <div class="mb-1 pe-3 flex-grow-1">
                                                <a href="~/Admin/news" class="fs-5 text-gray-800 text-hover-primary fw-bolder">تعداد کل</a>
                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Tags-->
                                            <div class="d-flex align-items-center">
                                                <div class="fw-bolder fs-5 text-gray-800 pe-1">@newsModel.Data.News.Count()</div>
                                            </div>
                                            <!--end::Tags-->
                                        </div>
                                        <!--end::توضیحات-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center mb-6">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-45px w-40px me-5">
                                            <span class="symbol-label bg-lighten">
                                                <!--begin::Svg Icon | path: icons/duotune/electronics/elc005.svg-->
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M15 19H7C5.9 19 5 18.1 5 17V7C5 5.9 5.9 5 7 5H15C16.1 5 17 5.9 17 7V17C17 18.1 16.1 19 15 19Z" fill="currentColor" />
                                                        <path d="M8.5 2H13.4C14 2 14.5 2.4 14.6 3L14.9 5H6.89999L7.2 3C7.4 2.4 7.9 2 8.5 2ZM7.3 21C7.4 21.6 7.9 22 8.5 22H13.4C14 22 14.5 21.6 14.6 21L14.9 19H6.89999L7.3 21ZM18.3 10.2C18.5 9.39995 18.5 8.49995 18.3 7.69995C18.2 7.29995 17.8 6.90002 17.3 6.90002H17V10.9H17.3C17.8 11 18.2 10.7 18.3 10.2Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::توضیحات-->
                                        <div class="d-flex align-items-center flex-wrap w-100">
                                            <!--begin::Title-->
                                            <div class="mb-1 pe-3 flex-grow-1">
                                                <a href="~/Admin/news" class="fs-5 text-gray-800 text-hover-primary fw-bolder">تعداد دسته بندی ها</a>

                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Tags-->
                                            <div class="d-flex align-items-center">
                                                <div class="fw-bolder fs-5 text-gray-800 pe-1">@newsCatModel.Data.NewsCategory.Count()</div>
                                            </div>
                                            <!--end::Tags-->
                                        </div>
                                        <!--end::توضیحات-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-45px w-40px me-5">
                                            <span class="symbol-label bg-lighten">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen005.svg-->
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM12.5 18C12.5 17.4 12.6 17.5 12 17.5H8.5C7.9 17.5 8 17.4 8 18C8 18.6 7.9 18.5 8.5 18.5L12 18C12.6 18 12.5 18.6 12.5 18ZM16.5 13C16.5 12.4 16.6 12.5 16 12.5H8.5C7.9 12.5 8 12.4 8 13C8 13.6 7.9 13.5 8.5 13.5H15.5C16.1 13.5 16.5 13.6 16.5 13ZM12.5 8C12.5 7.4 12.6 7.5 12 7.5H8C7.4 7.5 7.5 7.4 7.5 8C7.5 8.6 7.4 8.5 8 8.5H12C12.6 8.5 12.5 8.6 12.5 8Z" fill="currentColor" />
                                                        <rect x="7" y="17" width="6" height="2" rx="1" fill="currentColor" />
                                                        <rect x="7" y="12" width="10" height="2" rx="1" fill="currentColor" />
                                                        <rect x="7" y="7" width="6" height="2" rx="1" fill="currentColor" />
                                                        <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::توضیحات-->
                                        <div class="d-flex align-items-center flex-wrap w-100">
                                            <!--begin::Title-->
                                            <div class="mb-1 pe-3 flex-grow-1">
                                                <a href="~/Admin/news" class="fs-5 text-gray-800 text-hover-primary fw-bolder">ماه جاری</a>

                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Tags-->
                                            <div class="d-flex align-items-center">
                                                <div class="fw-bolder fs-5 text-gray-800 pe-1">@newsModel.Data.News.Where(w => w.CreatedAt.Month == DateTime.Now.Month).Count()</div>
                                            </div>
                                            <!--end::Tags-->
                                        </div>
                                        <!--end::توضیحات-->
                                    </div>
                                    <!--end::Item-->
                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::مخلوط Widget 1-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-xl-4">
                        <!--begin::مخلوط Widget 1-->
                        <div class="card card-xl-stretch mb-xl-8">
                            <!--begin::Body-->
                            <div class="card-body p-0">
                                <!--begin::Header-->
                                <div class="px-9 pt-7 card-rounded h-275px w-100 bg-primary">
                                    <div class="d-flex text-center flex-column text-white pt-8">
                                        <span class="fw-bolder fs-2x pt-1">
                                            گزارش پروژه
                                        </span>
                                    </div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Items-->
                                <div class="bg-body shadow-sm card-rounded mx-9 mb-9 px-6 py-9 position-relative z-index-1" style="margin-top: -100px">
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center mb-6">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-45px w-40px me-5">
                                            <span class="symbol-label bg-lighten">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor" />
                                                        <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor" />
                                                        <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor" />
                                                        <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::توضیحات-->
                                        <div class="d-flex align-items-center flex-wrap w-100">
                                            <!--begin::Title-->
                                            <div class="mb-1 pe-3 flex-grow-1">
                                                <a href="~/Admin/Estate" class="fs-5 text-gray-800 text-hover-primary fw-bolder">تعداد کل</a>

                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Tags-->
                                            <div class="d-flex align-items-center">
                                                @*<div class="fw-bolder fs-5 text-gray-800 pe-1">@estateModel.Data.Count()</div>*@
                                            </div>
                                            <!--end::Tags-->
                                        </div>
                                        <!--end::توضیحات-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center mb-6">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-45px w-40px me-5">
                                            <span class="symbol-label bg-lighten">
                                                <!--begin::Svg Icon | path: icons/duotune/electronics/elc005.svg-->
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M15 19H7C5.9 19 5 18.1 5 17V7C5 5.9 5.9 5 7 5H15C16.1 5 17 5.9 17 7V17C17 18.1 16.1 19 15 19Z" fill="currentColor" />
                                                        <path d="M8.5 2H13.4C14 2 14.5 2.4 14.6 3L14.9 5H6.89999L7.2 3C7.4 2.4 7.9 2 8.5 2ZM7.3 21C7.4 21.6 7.9 22 8.5 22H13.4C14 22 14.5 21.6 14.6 21L14.9 19H6.89999L7.3 21ZM18.3 10.2C18.5 9.39995 18.5 8.49995 18.3 7.69995C18.2 7.29995 17.8 6.90002 17.3 6.90002H17V10.9H17.3C17.8 11 18.2 10.7 18.3 10.2Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::توضیحات-->
                                        <div class="d-flex align-items-center flex-wrap w-100">
                                            <!--begin::Title-->
                                            <div class="mb-1 pe-3 flex-grow-1">
                                                <a href="~/Admin/Estate" class="fs-5 text-gray-800 text-hover-primary fw-bolder">سال جاری</a>

                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Tags-->
                                            <div class="d-flex align-items-center">
                                                @*<div class="fw-bolder fs-5 text-gray-800 pe-1">@estateModel.Data.Where(w => w.CreatedAt.Year == DateTime.Now.Year).Count()</div>*@
                                            </div>
                                            <!--end::Tags-->
                                        </div>
                                        <!--end::توضیحات-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-45px w-40px me-5">
                                            <span class="symbol-label bg-lighten">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen005.svg-->
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM12.5 18C12.5 17.4 12.6 17.5 12 17.5H8.5C7.9 17.5 8 17.4 8 18C8 18.6 7.9 18.5 8.5 18.5L12 18C12.6 18 12.5 18.6 12.5 18ZM16.5 13C16.5 12.4 16.6 12.5 16 12.5H8.5C7.9 12.5 8 12.4 8 13C8 13.6 7.9 13.5 8.5 13.5H15.5C16.1 13.5 16.5 13.6 16.5 13ZM12.5 8C12.5 7.4 12.6 7.5 12 7.5H8C7.4 7.5 7.5 7.4 7.5 8C7.5 8.6 7.4 8.5 8 8.5H12C12.6 8.5 12.5 8.6 12.5 8Z" fill="currentColor" />
                                                        <rect x="7" y="17" width="6" height="2" rx="1" fill="currentColor" />
                                                        <rect x="7" y="12" width="10" height="2" rx="1" fill="currentColor" />
                                                        <rect x="7" y="7" width="6" height="2" rx="1" fill="currentColor" />
                                                        <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::توضیحات-->
                                        <div class="d-flex align-items-center flex-wrap w-100">
                                            <!--begin::Title-->
                                            <div class="mb-1 pe-3 flex-grow-1">
                                                <a href="~/Admin/Estate" class="fs-5 text-gray-800 text-hover-primary fw-bolder">سال گذشته</a>

                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Tags-->
                                            <div class="d-flex align-items-center">
                                                @*<div class="fw-bolder fs-5 text-gray-800 pe-1">@estateModel.Data.Where(w => w.CreatedAt.Year < DateTime.Now.Year).Count()</div>*@
                                            </div>
                                            <!--end::Tags-->
                                        </div>
                                        <!--end::توضیحات-->
                                    </div>
                                    <!--end::Item-->
                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::مخلوط Widget 1-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-xl-4">
                        <!--begin::مخلوط Widget 1-->
                        <div class="card card-xl-stretch mb-5 mb-xl-8">
                            <!--begin::Body-->
                            <div class="card-body p-0">
                                <!--begin::Header-->
                                <div class="px-9 pt-7 card-rounded h-275px w-100 bg-success">
                                    <div class="d-flex text-center flex-column text-white pt-8">
                                        <span class="fw-bolder fs-2x pt-1">
                                            گزارش مقالات
                                        </span>
                                    </div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Items-->
                                <div class="bg-body shadow-sm card-rounded mx-9 mb-9 px-6 py-9 position-relative z-index-1" style="margin-top: -100px">
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center mb-6">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-45px w-40px me-5">
                                            <span class="symbol-label bg-lighten">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor" />
                                                        <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor" />
                                                        <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor" />
                                                        <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::توضیحات-->
                                        <div class="d-flex align-items-center flex-wrap w-100">
                                            <!--begin::Title-->
                                            <div class="mb-1 pe-3 flex-grow-1">
                                                <a href="~/Admin/blog" class="fs-5 text-gray-800 text-hover-primary fw-bolder">تعداد کل</a>

                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Tags-->
                                            <div class="d-flex align-items-center">
                                                <div class="fw-bolder fs-5 text-gray-800 pe-1">@blogModel.Data.Blog.Count()</div>
                                            </div>
                                            <!--end::Tags-->
                                        </div>
                                        <!--end::توضیحات-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center mb-6">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-45px w-40px me-5">
                                            <span class="symbol-label bg-lighten">
                                                <!--begin::Svg Icon | path: icons/duotune/electronics/elc005.svg-->
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M15 19H7C5.9 19 5 18.1 5 17V7C5 5.9 5.9 5 7 5H15C16.1 5 17 5.9 17 7V17C17 18.1 16.1 19 15 19Z" fill="currentColor" />
                                                        <path d="M8.5 2H13.4C14 2 14.5 2.4 14.6 3L14.9 5H6.89999L7.2 3C7.4 2.4 7.9 2 8.5 2ZM7.3 21C7.4 21.6 7.9 22 8.5 22H13.4C14 22 14.5 21.6 14.6 21L14.9 19H6.89999L7.3 21ZM18.3 10.2C18.5 9.39995 18.5 8.49995 18.3 7.69995C18.2 7.29995 17.8 6.90002 17.3 6.90002H17V10.9H17.3C17.8 11 18.2 10.7 18.3 10.2Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::توضیحات-->
                                        <div class="d-flex align-items-center flex-wrap w-100">
                                            <!--begin::Title-->
                                            <div class="mb-1 pe-3 flex-grow-1">
                                                <a href="~/Admin/blog" class="fs-5 text-gray-800 text-hover-primary fw-bolder">تعداد دسته بندی ها</a>

                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Tags-->
                                            <div class="d-flex align-items-center">
                                                <div class="fw-bolder fs-5 text-gray-800 pe-1">@blogCatModel.Data.BlogCategory.Count()</div>
                                            </div>
                                            <!--end::Tags-->
                                        </div>
                                        <!--end::توضیحات-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-45px w-40px me-5">
                                            <span class="symbol-label bg-lighten">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen005.svg-->
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM12.5 18C12.5 17.4 12.6 17.5 12 17.5H8.5C7.9 17.5 8 17.4 8 18C8 18.6 7.9 18.5 8.5 18.5L12 18C12.6 18 12.5 18.6 12.5 18ZM16.5 13C16.5 12.4 16.6 12.5 16 12.5H8.5C7.9 12.5 8 12.4 8 13C8 13.6 7.9 13.5 8.5 13.5H15.5C16.1 13.5 16.5 13.6 16.5 13ZM12.5 8C12.5 7.4 12.6 7.5 12 7.5H8C7.4 7.5 7.5 7.4 7.5 8C7.5 8.6 7.4 8.5 8 8.5H12C12.6 8.5 12.5 8.6 12.5 8Z" fill="currentColor" />
                                                        <rect x="7" y="17" width="6" height="2" rx="1" fill="currentColor" />
                                                        <rect x="7" y="12" width="10" height="2" rx="1" fill="currentColor" />
                                                        <rect x="7" y="7" width="6" height="2" rx="1" fill="currentColor" />
                                                        <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::توضیحات-->
                                        <div class="d-flex align-items-center flex-wrap w-100">
                                            <!--begin::Title-->
                                            <div class="mb-1 pe-3 flex-grow-1">
                                                <a href="~/Admin/blog" class="fs-5 text-gray-800 text-hover-primary fw-bolder">ماه جاری</a>

                                            </div>
                                            <!--end::Title-->
                                            <!--begin::Tags-->
                                            <div class="d-flex align-items-center">
                                                <div class="fw-bolder fs-5 text-gray-800 pe-1">@blogModel.Data.Blog.Where(w => w.CreatedAt.Month == DateTime.Now.Month).Count()</div>
                                            </div>
                                            <!--end::Tags-->
                                        </div>
                                        <!--end::توضیحات-->
                                    </div>
                                    <!--end::Item-->
                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::مخلوط Widget 1-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
                <!--begin::Col-->
                <!--<div class="col-xl-8">-->
                <!--begin::Engage widget 7-->
                <!--<div class="card card-flush h-xl-100">-->
                <!--begin::Header-->
                <!--<div class="card-header pt-7">-->
                <!--begin::Title-->
                <!--<h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder text-dark">آخرین اخبار</span>
                </h3>-->
                <!--end::Title-->
                <!--</div>-->
                <!--end::Header-->
                <!--if (activeNews.Count() > 0)
                {-->
                <!--begin::Card body-->
                <!--<div class="card-body pt-7">-->
                <!--begin::Row-->
                <!--<div class="row align-items-end h-100 gx-5 gx-xl-10">-->
                <!--begin::Col-->
                <!--foreach (var item in Model.News)
                {
                    <div class="col-md-4 mb-11 mb-md-0">-->
                <!--begin::Overlay-->
                <!--<a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="">-->
                <!--begin::Image-->
                <!--<div class="overlay-wrapper bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded mb-3" style="height: 266px;background-image:url('')"></div>-->
                <!--end::Image-->
                <!--begin::Actions-->
                <!--<div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                    <i class="bi bi-eye-fill fs-2x text-white"></i>
                </div>-->
                <!--end::Actions-->
                <!--</a>-->
                <!--end::Overlay-->
                <!--begin::Info-->
                <!--<div class="m-0">-->
                <!--begin::Title-->
                <!--<a href="#" class="text-gray-800 text-hover-primary fs-3 fw-bolder d-block mb-2">item.Title</a>-->
                <!--end::Title-->
                <!--begin::زمان-->
                <!--<span class="text-justify text-gray-400 d-block ">item.CreatedAt.ToPersianDateTextify(true)</span>-->
                <!--end::زمان-->
                <!--</div>-->
                <!--end::Info-->
                <!--</div>
                    }
                </div>-->
                <!--end::Row-->
                <!--</div>-->
                <!--end::Card body-->
                <!--}
                else
                {

                }-->
                <!--</div>-->
                <!--end::Engage widget 7-->
                <!--</div>-->
                <!--end::Col-->

            </div>
            <!--end::Row-->

        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->