@model Pardisan.ViewModels.HomeVM
@using DNTPersianUtils.Core;
@{
    ViewData["Title"] = "صفحه اصلی";
}



<div id="owl-mainslider" class="owl-carousel owl-theme text-center">
    <div class="item">
        <img src="~/img/wallpaper.jpg" class="~/img-fluid" />
    </div>
</div>

<div class="container mt-lg-4 pt-3">
    <div class="row">
        <div class="col-lg-4 d-lg-block d-none text-center">
            <img src="~/img/461.png" class="justify-content-center" />
            <img src="~/img/Divar4.jpg" class="~/img-fluid radius15 servicimg" />
        </div>
        <div class="col-lg-8 col-md-12 p-3 mt-4 d2-service">
            <div class="d-flex flex-row mb-3">
                <div class="Dottedstocol ml-3"></div>
                <div class="singletitle">
                    <span>درباره ما</span>
                    <h1 class="text-right">معرفی خدمات ما </h1>
                </div>
            </div>
            <p class="text-justify mb-3">
                چه خدماتی ارائه می‌دهیم؟
                <br />

                ما با نام تجاری انبوه سازان پردیسان ماموریت ساخت خانه‌ رویایی شما را بر عهده گرفته‌ایم. و در این راه با کنارزدن محدودیت ها آماده خدمت رسانی به شما هستیم.
                همچنین ما در انبوه سازان پردیسان خدمات ساخت ، مشارکت در ساخت ، پیش فروش و فروش واحد های مسکونی ، اداری و تجاری را ارائه می‌دهیم.


            </p>

            <div class="d-flex flex-row ">
                <div style="width:100%" class="d-flex flex-lg-row flex-column text-md-right text-center p-3">
                    <i class="fal fa-check  fa-3x ml-3 py-2 text-warning"></i>
                    <div>
                        <h2>مصالح باکیفیت</h2>
                        <p>بهترین مصالح را در ساخت به کار می‌بریم تا عمر مفید ساختمان ها را افزایش دهیم</p>
                    </div>
                </div>
                <div class="d-flex flex-lg-row flex-column text-md-right text-center p-3">
                    <i class="fal fa-check fa-3x ml-3 py-2 text-warning"></i>
                    <div>
                        <h2>طراحی نمای مدرن</h2>
                        <p>فقط با یک نگاه جذب نمای ساختمان شما می‌شوند! بهترین طراح ها با رعایت اصول طراحی بهترین نماها را برای ساختمان های پردیسان طراحی می‌کنند.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex  flex-row">
                <div style="width:50%" class="d-flex flex-lg-row flex-column text-md-right text-center p-3">
                    <i class="fal fa-check fa-3x ml-3 py-2 text-warning"></i>
                    <div>
                        <h2>استحکام بالا</h2>
                        <p>با مهندسی اصولی و رعایت استاندارد های ساخت ، ساختمان هایی با استحکام بسیار بالا را برای شما می‌سازیم.</p>
                    </div>
                </div>
                <div class="d-flex flex-lg-row flex-column text-md-right text-center p-3">
                    <i class="fal fa-check fa-3x ml-3 py-2 text-warning"></i>
                    <div>
                        <h2>پشتیبانی مادام‌العمر</h2>
                        <p>پشتیبانی خانه شما هرگز به اتمام نمی‌رسد! همیشه در کنار شما هستیم.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<section class="container my-5">
    <div class="row bg-light banner-bui text-white radius15">
        <div class="col-lg-8 pt-5 px-5 pb-xl-0 pb-5">

            <h2 class="IRANSans_Medium">انبوه سازان </h2>
            <h1 class="text-warning">پردیسان</h1>
            <p>
                تا به امروز...

                <br />
                انبوه سازان پردیسان تا به امورز با ارائه خدمات در زمینه ساخت و مشارکت در ساخت خانه های رویایی شما توانسته است افتخار همراهی و اعتماد شما را داشته باشد.
            </p>
            <div class="row">

                <div class="col-md-4 col-sm-6 stats d-flex flex-column p-2">
                    <div class="d-flex flex-row">
                        <i class="fal fa-building  text-warning" aria-hidden="true"></i>
                        <div class="counting" data-count="6">0</div>
                    </div>
                    <h5>پروژه های فعلی</h5>
                </div>
                <div class="col-md-4 col-sm-6 stats d-flex flex-column p-2">
                    <div class="d-flex flex-row">
                        <i class="fal fa-trophy text-warning" aria-hidden="true"></i>
                        <div class="counting" data-count="25">0</div>
                    </div>
                    <h5>پروژه های تکمیل شده</h5>
                </div>
                <div class="col-md-4 stats d-flex flex-column p-2">
                    <div class="d-flex flex-row">
                        <i class="fal fa-thumbs-up text-warning" aria-hidden="true"></i>
                        <div class="counting" data-count="98">0</div>
                    </div>
                    <h5>همراه راضی</h5>
                </div>
            </div>

        </div>
        <div class="col-lg-4 d-lg-block d-none">
            <img src="~/img/testimonial.png" class="~/img-fluid pt-4 pl-4" />
        </div>
    </div>

</section>

<section class="container mt-5 po2 hot-posts text-center">

    <h3 class="mt-2 mb-3 bt-center text-center IRANSans_Bold">معرفی پروژه ها</h3>
    <div class="row pt-3">
        <div class="col-lg-4 col-md-4 col-sm-12" style="border-radius:8px">
            <div id="22188650364">
                <script type="text/JavaScript" src="https://www.aparat.com/embed/B7yhW?data[rnddiv]=22188650364&data[responsive]=yes"></script>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="border-radius:8px">
            <div id="30281395293">
                <script type="text/JavaScript" src="https://www.aparat.com/embed/4azGK?data[rnddiv]=30281395293&data[responsive]=yes"></script>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12" style="border-radius:8px">
            <div id="12278906087">
                <script type="text/JavaScript" src="https://www.aparat.com/embed/IJ6Pn?data[rnddiv]=12278906087&data[responsive]=yes"></script>
            </div>
        </div>
    </div>
</section>
@*<section class="container blog-grid mt-5">
        <div class="d-flex flex-row my-3">

        </div>
        <div class="row">
        </div>
    </section>*@


<section class="container-fluid my-4 py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-3">

                <h3 class="IRANSans_Bold mb-2">نیاز به مشاوره دارید ؟</h3>
                <p class="text-justify">

                    انبوه سازان پردیسان تا به امورز با ارائه خدمات در زمینه ساخت و مشارکت در ساخت خانه های رویایی شما توانسته است افتخار همراهی و اعتماد شما را داشته باشد.
                </p>
                <a href="#" class="btn btn-pardisan text-white radius10 py-2 px-4 my-3"><i class="fal fa-phone ml-2"></i>تماس بگیرید ! </a>

            </div>
        </div>

    </div>
</section>

<section class="container blog-grid mt-5">
    <div class="d-flex flex-row my-3">
        <div class="Dottedstocol ml-3"></div>
        <div class="singletitle">
            <span>مقالات</span>
        </div>
    </div>
    <div id="owl-blog" class="owl-carousel owl-theme text-right ">
        @foreach (var item in Model.Blogs.Blog)
        {
            <div class="m-3 blog_style">
                <a asp-controller="Blog" asp-action="details" asp-route-id="@item.Id"><img class="card-img-top" src="@item.Image" alt="@item.Title"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a asp-controller="Blog" asp-action="details" asp-route-id="@item.Id">@item.Title</a></h3>
                    <p class="mb-2">
                        @item.Describtion
                    </p>
                    <span><a href="#">@item.CategoryTitle</a></span>
                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-clock ml-2"></i>@item.CreatedAt.ToPersianDateTextify(true)</span>
                        </div>
                        <a asp-controller="Blog" asp-action="details" asp-route-id="@item.Id">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
        }
        @*<div class="m-3 blog_style">
                <a asp-controller="News" asp-action="details"><img class="card-img-top" src="~/img/news-img4.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a asp-controller="News" asp-action="details">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">سازه های مدرن</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>22</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a asp-controller="News" asp-action="details">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
            <div class="m-3 blog_style">
                <a asp-controller="News" asp-action="details"><img class="card-img-top" src="~/img/news-img5.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a asp-controller="News" asp-action="details">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">تاثیر نانو ذرات</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>22</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a asp-controller="News" asp-action="details">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
            <div class="m-3 blog_style">
                <a asp-controller="News" asp-action="details"><img class="card-img-top" src="~/img/news-img1.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a asp-controller="News" asp-action="details">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">فناوری نانو</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>22</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a asp-controller="News" asp-action="details">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
            <div class="m-3 blog_style">
                <a asp-controller="News" asp-action="details"><img class="card-img-top" src="~/img/news-img4.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a asp-controller="News" asp-action="details">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">سازه های مدرن</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>22</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a asp-controller="News" asp-action="details">ادامه مطلب »</a>
                    </div>
                </div>
            </div>*@

    </div>
</section>



<section class="container-fluid my-4 py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-3">

                <h3 class="IRANSans_Bold mb-2">سوالی دارید ؟</h3>
                <p class="text-justify">

                    در صورت وجود هرگونه سوال میتوانید از طریق فرم زیر با کارشناسان پردیسان در ارتباط باشید.
                </p>
                <div class="position-relative pl-4">
                    @*<p class="mb-3 bg-light p-3 radius10">جهت ارسال نظرات خود می توانید از فرم زیر استفاده نمایید</p>*@
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control mb-3" placeholder="نام">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control mb-3" placeholder="ایمیل">
                        </div>
                    </div>
                    <form class="contact-form">

                        <textarea class="form-control mb-3" cols="60" rows="9" placeholder="متن پیام"></textarea>
                        <button type="submit" class="btn btn-warning text-white mr-3">ارسال پیام</button>
                    </form>
                </div>

            </div>
        </div>

    </div>
</section>
<!--<section class="container">
    <div class="row bg-warning  px-5 py-3 my-5 radius10">
        <div class="col-lg-9 text-dark  text-lg-right text-center">-->
<!--<h3>خدمات ما</h3>-->
<!--<h5 class="IRANSans_Medium">"ما تنها ساختمان های شما را نمیسازیم بلکه رویاهای شما را خواهیم ساخت .. "</h5>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم..

            </p>
        </div>
        <div class="col-lg-3 text-dark text-lg-left text-center mt-lg-0 mt-3">
            <a class="btn btn-light radius20 text-dark IRANSans_Medium">تماس بگیرید : 09304567896</a>
        </div>
    </div>
</section>

<section class="container">
    <h3 class="bt-center text-center IRANSans_Bold my-4">مشتریان راضی</h3>
    <div class="row">
        <div class="col-lg-12">
            <div id="owl-customers" class="owl-carousel owl-theme text-center ">
                <div class="m-2">
                    <img src="~/img/Logo1.png" />
                </div>
                <div class="m-2">
                    <img src="~/img/Logo2.png" />
                </div>
                <div class="m-2">
                    <img src="~/img/Logo4.png" />
                </div>

                <div class="m-2">
                    <img src="~/img/Logo5.png" />
                </div>
                <div class="m-2">
                    <img src="~/img/Logo1.png" />
                </div>
                <div class="m-2">
                    <img src="~/img/Logo2.png" />
                </div>
                <div class="m-2">
                    <img src="~/img/Logo4.png" />
                </div>

                <div class="m-2">
                    <img src="~/img/Logo5.png" />
                </div>
            </div>

        </div>
    </div>
</section>-->
